- unless current_user?(@user)
  #follow_form
    - if current_user.following?(@user)
      %button.btn.unfollow{data: {value: "#{current_user.id}"}} unfollow
    - else
      %button.btn.btn-primary.follow{data:{id:RELATIONSHIPID}} follow
