%h2 Friends
%ul
  - for friendship in @user.friendships
    %li
      = h friendship.friend.username
      (#{link_to "remove", friendship, :method => :delete})
%p= link_to "Find Friends", users_path
%h2 Friended by Users
%ul
  - for user in @user.inverse_friends
    %li= h user.username
