
#new-cheer-input
  - if @user == current_user
    %h2 Your Cheer Feed
    .image= image_tag gravatar_for(current_user), class: "small-avatar"
    %input#new-cheer{:placeholder => "What's your cheer today?", :type => "text"}/
  -else 
    %h4= @user.username
#cheers
  = render @user.cheers


