/ %section.stats
/   = render 'shared/stats'
/ = render 'follow_form'
%h1= @user.username
%h1 CheerUp feed
#user_cheers
  = render @user.cheers
= will_paginate @user.cheers.paginate(:page => params[:page])