%section.stats
- if current_user
  = render 'shared/stats'
%h1 Listing cheers
%input#new-cheer{:placeholder => "What's your cheer today?", :type => "text"}/
#cheers
  = render @cheers
= will_paginate @cheers