function request(method, url, data){
  return $.ajax({
    method: method,
    url: url,
    dataType: "json",
    data: data,
  })
}

//add to the Cheer list 
function appendNewCheer(data){
  $("#cheers").append(<%= escape_javascript(
          Haml::Engine.new(File.read(File.join(Rails.root, 'app/views/cheers', '_cheer.html.haml'))).render(Object.new, data: @data)) %>);
  });
 // $('<li id="cheer-'+ data.id + '">' + '<span class="user"><a href="/users/'+ data.user_id + '"></a></span><span class="content">'+ data.cheerup +'</span><span class="timestamp"></span><div class="edit"><a href="/cheers/'+ data.id +'/edit">Edit</a></div><div class="destroy"><a href="/cheers/'+ data.id + '" data-confirm="Are you sure?" data-method="delete" rel="nofollow">x</a></div><span class="/cheers/'+ data.id +'/cheerup" data-method="put" rel="nofollow">cheerUp!</a></span><span class="score">0</span></li>').prependTo("#cheers")
 
}  

//POST Cheer 
function createCheer(){
  request("POST", "/cheers", {
    cheer:{
      cheerup: $("#new-cheer").val()

    }
  }).success(function(data){
    console.log(data);
    $('#new-cheer').val( )
    appendNewCheer(data)
  })
}




$(document).ready(function(){
  console.log('dom loaded')
  $('#new-cheer').on('keypress', function(event){
    if(event.which == '13')createCheer()
      console.log('key press')
  });
});
