/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-image: url(whitebackground.jpg);
}
 .col-md-3 {
 	position: fixed;
 	top: 100px;
 	right: 50px;
 	margin: 0 auto;
}

.well.sidebar-nav {
	position:fixed;
	right: 100px;
	top: 100px
}
 
 .col-md-6 h1 {
 	font-family: 'Lobster', cursive;
 	margin-left: 170px;

 }
 .row {
 	padding: 50px;
 }

#q_username_cont {
	position: absolute;
	left: 1000px;
	top: 5px;
}


.well {
	float: right;
}



a {
	font-size: 15px;
	font-family: 'Lobster', cursive;
}


.alert {
	padding: 50px;
	position: absolute;
	top: -40px;
	left: -50px;
}